@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "NotoSans";
    src: url(./assets/font/NotoSansKR-VariableFont_wght.ttf);
}

:root {
    --font-primary: "NotoSans";
}

body {
    background-color: #35363A;
    color: #E8E9EC;
    overflow: hidden;
    font-family: var(--font-primary);

}

body.loaded {
    transition: ease 0.5s;
}

a {
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: dimgray;
    outline: 1px solid slategrey;
}

div:hover {
    cursor: default;
}